/* IMPORTED FONTS */
@font-face {
    font-family: ecg;
    src: url(fonts/Elika\ Gorica\ Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: gfs;
    src: url(fonts/GFSArtemisia.otf);
}

@font-face {
    font-family: gfs;
    src: url(fonts/GFSArtemisiaBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: gfs;
    src: url(fonts/GFSArtemisiaItalic.ttf);
    font-style: italic;
}

/* GENERAL */
body {
    background-color: #f1ead6;
    font-family: gfs;

    padding: 0;
    margin: 0;
}

div {
    display: flex;
}

.container {
    flex-direction: column;
    justify-content: center;
}

li {
    list-style: none;
}


/* NAVBAR */
#navbar {
    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* background-color: #e5657b; */
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 50px;
    max-width: 100%;

    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.navbar_items {
    text-decoration: none;
    min-width: 5%;

    font-size: larger;
    font-family: ecg;
    color: #e5657b;
}
#nav_icon {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

/* FEATURED */
#featured {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    max-height: fit-content;
}

.featured_col1 {
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 30px;
}
#featured_photo {
    max-height: 500px;
    margin-top: 5vh;
}
.featured_col2 {
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 20vh;
    max-height: max-content;
    max-width: 1000px;
}
#featured_title {
    color:  #e5657b;
    
    font-family: ecg;
    font-size: 20vh;
    font-weight: bold;
    margin: 0;
}
.featured_tagline {
    color: #354259;
    font-family: gfs;
    font-style: italic;
    font-size: 3vh;
    margin: 0;
}
#featured_flowers {
    /* border: 1px solid black; */
    position: relative;
    height: 300px;
    width: 100%;
    margin: 0;
}
/* PREVIOUS PROJECTS */
#project {
    flex-direction: column;
    justify-content: center;
    margin: 10vh;
}
#project_title {
    color:  #ffc643;
    justify-content: center;
    font-family: ecg;
    font-size: 10vh;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#project_items {
    /* border: 1px solid black; */
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-wrap: wrap;

    color: #354259;
    padding-top: 20px;
    padding-bottom: 20px;
}
.project_box {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 280px;
}

.project_imagerow {
    width: fit-content;
}
.project_images {
    width: 280px;
    margin: 10px;
}
.project_title {
    font-size: larger;
    font-weight: bold;
}

.project_langs {
    font-size: small;
    font-style: italic;
    color: rgb(83, 83, 83);
}

.project_description {
    font-size: medium;
    width: 80%;
    text-align: center;
}

/* ABOUT ME -------------------- */
#aboutme {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #354259;
    margin-bottom: 15vh;
}


/* SKILLS */
#skills {
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50vh;
    text-align: center;
}
#skills_header {
    color:  #354259;
    justify-content: center;
    font-family: ecg;
    font-size: 10vh;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.skills_row {
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 5vh;
    width: 70%;
    
}
.skills_title {
    color: #354259;
    font-family: ecg;
    font-weight: bold;
    font-size: larger;
}
.skills_platforms {
    color: #e5657b;
    font-style: italic;
}
.skills_description {
    color: #354259;
    flex-wrap: wrap;
}
/* AUTOBIOGRAPHY */

#autobiography_header {
    color:  #feb431;
    justify-content: center;
    font-family: ecg;
    font-size: 10vh;
    text-align: center;
}

#autobiography  {
    /* border: 1px solid black; */
    align-items: center;
    flex-direction: column;
    max-width: 50vh;
}

.autobiography_row1{
    /* border: 1px solid black; */
    width: fit-content;
}
#autobiography_myphoto {
    height: 300px;
    width: 300px;
}
.autobiography_row2 {
    background-color: #feb431;
    color: white;
    
    text-align: justify;
    text-indent: 30px;

    padding: 5%;
    width: 50%;
    height: max-content;
    border-radius: 30px;
}

/* FOOTER */

.footer {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    /* border: 1px solid black; */
    
    height: max-content;
    /* width: 100%; */
    padding: 10px;
    margin-top: 5vh;
    background-color: #e5657b;
}

/* logo */


#footer_icon {
    max-width: 60px;
    max-height: 60px;
}

/* contact details */

.footer_items, #footer_link {
    color: #f1ead6;
    /* background-color: #e5657b; */
    
}